/* Color variables */
:root {
--white: hsl(0, 0%, 100%);
--lightGrey: hsl(217, 12%, 63%);
--mediumGrey: hsl(216, 12%, 54%);
--darkBlue: hsl(213, 19%, 18%);
--veryDarkBlue: hsl(216, 12%, 8%);
--orange: hsl(25, 97%, 53%);
}

/* General styles */

html {
    background-color: var(--veryDarkBlue);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    display: grid;
    justify-content: center;
    font-family: 'Overpass', 'sans-serif';
}

body .container {
    background: linear-gradient(var(--darkBlue), var(--veryDarkBlue));
    vertical-align: center;
    padding: 1.75rem;
    width: 375px;
    border-radius: 30px;
}

p {
    color: var(--lightGrey);
    line-height: 1.75;
}

h2 {
    color: var(--white);
}

button {
    height: 2.25rem;
    border-radius: 30px;
    font-family: 'Overpass', 'sans-serif';
    border: none;
}

/* Rating Component style */
/* .star {
    background-image: url('/public/images/icon-star.svg');
    background-color: aliceblue;
} */

.star {
    padding: 1rem;
    border-radius: 30px;
    background-color: var(--darkBlue);
}

.rating-paragraph {
    color: var(--lightGrey);
    margin-block-end: 1.75rem;
}

.rating-options {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-inline-start: 0px;
    margin-block-end: 1.75rem;
}

.rating-options button {
    color: var(--lightGrey);
    background-color: var(--darkBlue);
    /* margin-inline-end: .25rem; */
    width: 2.75rem;
    height: 2.75rem;
}

.rating-options button:hover,
.rating-options button:focus {
    color: var(--white);
    background-color: var(--mediumGrey);
    cursor: pointer;
}

.rating-options button:active {
    color: var(--white);
    background-color: var(--orange);
    cursor: pointer;
}

.submit {
    color: var(--white);
    background-color: var(--orange);
    width: 100%;
    letter-spacing: .1rem;
}

.submit:hover,
.submit:focus {
    cursor: pointer;
}

.submit:active {
    color: var(--orange);
    background-color: var(--white);
    cursor: pointer;
}



/* Thank you Component style */

h3 {
    color: var(--orange);
    font-weight: normal;
    background-color: var(--darkBlue);
}

/* Footer Component styles */
footer {
    color: var(--white);
    position: fixed;
    bottom: 0;
    /* should center it, just a bandaid for now */
    right: 35%;
}



