/* Color variables */
:root {
--white: hsl(0, 0%, 100%);
--lightGrey: hsl(217, 12%, 63%);
--mediumGrey: hsl(216, 12%, 54%);
--darkBlue: hsl(213, 19%, 18%);
--veryDarkBlue: hsl(216, 12%, 8%);
--orange: hsl(25, 97%, 53%);
}

/* General styles */

html {
    background-color: var(--veryDarkBlue);
}

* {
    box-sizing: border-box;
}

body {
    font-size: 15px;
    display: grid;
    justify-content: center;
    font-family: 'Overpass', 'sans-serif';
}

body .container {
    background: linear-gradient(var(--darkBlue), var(--veryDarkBlue));
    vertical-align: center;
}

p {
    color: var(--lightGrey);
}

h2 {
    color: var(--white);
}

/* Rating Component style */

.rating-paragraph {
    color: var(--lightGrey);
}

.rating-options {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
}

.rating-options button {
    color: var(--lightGrey);
    background-color: var(--mediumGrey);
}

.submit {
    color: var(--white);
    background-color: var(--orange);
}

/* Thank you Component style */

h3 {
    color: var(--orange);
    font-weight: normal;
    background-color: var(--darkBlue);
}

/* Footer Component styles */
footer {
    color: var(--white);
    position: fixed;
    bottom: 0;
    /* should center it, just a bandaid for now */
    right: 35%;
}



